@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #000;
}
#movie-backdrop {
    width: 100%;
}

.container {
    padding-top: 32px;
}

#actors {
    margin: 24px 16px 0 0;
}

/********* SINGLE ACTORS PAGE ************/
body {
    font-family: "Montserrat", sans-serif;
    color: lightgrey;
    font-size: large;

}

.box {
    width: 900px;
    float: right;
    border: 2px black;
    border-radius: 10px;}

.box ul li  {
    width: 120px;
    float: left;
    margin:10px auto;
    text-align: center;
}
.box ul li a {
    text-decoration: none;
    color:white;}

.box ul li:hover{
        background-color:rgba(85, 107, 47, 0.419);
        transition: all 0.3s ease 0s; 
        border-radius: 12px;
    }
.welcome {
  position: relative;
    top: 100px;
    margin-left: 10%;
    width: 50%;
    height: 100%;
    color: white;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), #000000f2);
    border-radius: 10px;
    opacity: 0.8;
    padding-left: 35px;
    padding-top: 35px;
    
}

h3 {
    text-align: left;
    text-transform:uppercase;
    font-weight: bold;
}
.welcome h1 {
    text-transform: uppercase;
    text-align:justify ;
    color: darkgray;
    font-weight: bold;
    font-size: xx-large;
    margin-top: -15px;
    margin-bottom: -35px;
}

.welcome .topics {
  color: rgb(194, 194, 194);
  text-align: left;
  font-weight: light;
  font-size: medium;
  margin-bottom: -35px;
  margin-top: 40px;
}


.welcome h2 {
    text-align:left;
    text-transform: uppercase;
    margin: auto;
    font-weight: normal;
}
.Res {
    text-align: left;

}
.Res form input[type="button"]
{ background-color:rgb(255, 255, 255);
    padding: 10px;
    margin-left:13px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    border-radius: 15px;
    border: none;
    color: rgb(179, 7, 7);
    font-weight: bold;
}
form input[type="button"]:hover{ background-color:rgb(83, 20, 20) ; color: white;}

.welcome h1,h2{
    color: white;
    opacity: 100%;
}


.welcome #desc{
  margin-top: 30px;
  line-height: 40px;
  text-align: left;
}


.top-nav{
    background: linear-gradient(to top, rgba(0, 0, 0, 0), #000000f2);
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
}

header{
    display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 0px 200px;
  }
  
  header .hdiv img{
    height: 40px;
    width: 40px;
  }
  
  header .hdiv{
    display: flex;
    align-items: center;
  }
  
  header .hdiv h3{
  margin: 10px;
  
  }
  
  .nav_links{
    list-style: none;
  }
  
  .nav_links li{
    display: inline-block;
    padding: 0px 10px;
  }
  
  li a{
    transition: all 0.3s ease 0s; 
    color: white;
    text-decoration: none;
  }
  
  li a:hover {
    color: rgb(137, 1, 1);
  }

  .search-container {
    float: right;
    border-radius: 80%;
  }

  .search-container input[type=text] {
    border: 1px solid #ccc;
    border-radius: 5px;  
    margin-left: 10px;
    padding-left: 5px;
    font-size: 14px;
    height: 25px;
  }

.personal_img{
  position: absolute;
  top: 25%;
  right: 10%;
}

#Perspic{
  height: 400px;
  border-radius: 8px;
}


.films h1{
	text-align: center;
	margin-bottom: 17px;	
}


#filmpic{
    width: 200px;
    border-radius: 8px;
}

.films{
  border-radius: 20px;
  padding: 10px;
  background-color: #ffffff11;
}

.filmname{
	margin-top: 10px;
	font-weight:400;
	text-transform: uppercase;
	text-align: center;
  color: #ccc;
}

h3{text-align:center;
}

h1{text-align: center;
	margin-bottom: 60px;
	
}
.films-row{
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap:wrap;
	padding: 10px 15px;
	background: rgba(0, 0, 0, 0);
	margin: auto auto 100px;
	/* width: 60%; */
	border-radius: 8px;
	color:rgba(18,18,18,1.00)
}

.film-1{
  width: 150px;
	margin: 4px
}

p{text-align: center
	
}